[2020-03-09 02:55] messenger2011 opened #1 "Sensors not working?"
Hi there,

Thank you for your works. I'm trying to monitor temp using HWMonitor but nothing show up (CPU Temp, GPU Temp, Fan Speed...). Any guide or update to fix this issue, please?

Thank you.

[2020-03-12 08:07] #1 closed, assigned to nobody

[2020-03-12 08:07] messenger2011 commented on #1
Fixed by https://github.com/trulyspinach/SMCAMDProcessor

[2020-03-12 14:37] Gizmo648 opened #2 "Success not an issue: Share my hardware"
I hope this is useful. Thanks:  https://github.com/willza3/macOS-strix-B450i

Running Catalina 10.15.3
MB : Asus ROG Strix B450-F
CPU: Ryzen 7 2700x
Ram : Corsair Vengance 8GBx4=32GB
HD : Seagate Barracuda 2TB (Data)
SSD : PNY 120 GB (MacOS)
Power Supply : Corsair CX750 M
Graph Card : Sapphire RX 570 8GB
WIFi: USB Adapter TL-WN823N
Case: Corsair Carbide Spec 06

[2020-03-12 14:41] Gizmo648 commented on #2
Ryzentosh works wonderfully I don't have a camera or microphone.
Running adobe photoshop, Affinity Photo, Davinci Resolve,
elmedia player, clean my mac, etc.
I have not tried ethernet or facetime because I either have a camera or video.
Everything else works perfect
Thanks a lot man..

[2020-03-12 14:47] Gizmo648 commented on #2
<img width="585" alt="Screen Shot 2020-03-12 at 8 45 34" src="https://user-images.githubusercontent.com/25337476/76533696-1158be80-643e-11ea-9859-d29e84ee7fe4.png">

[2020-03-21 13:44] willza3 commented on #1
Thanks for making me aware of this! I'll test it out today and add it to the next release 👍

[2020-03-21 13:47] willza3 commented on #2
Thanks for letting me know it works on the B450-F! 🥰

[2020-03-21 13:48] #2 closed, assigned to nobody

[2020-03-25 13:56] scottdrmyers opened #3 "MacOS 10.15.4 Update / Full Install"
Hardware:

Strix B450-I
16GB RAM @ 3600MHz
3600X @ Stock Clocks
5500XT using `agdpmod=pikera`
256GB SATA SSD

MacOS 10.15.3 installed without issues. Got prompted for MacOS 10.15.4 update within MacOS itself. Attempted installing.

Asks to reboot to install, I reboot, 10.15.4 update does not get installed. Am I missing something?

I tried to do a full install (clean install) of 10.15.4 using the s

[2020-03-25 23:02] simplelifeeee0 commented on #3
You just have to use the updated kernel patch

[2020-03-25 23:04] scottdrmyers commented on #3
Sweet! Is there a guide or quick and easy way to do that? I'm all for learning, just some of this is new to me. Sounds easy anyway haha.

[2020-03-25 23:30] scottdrmyers commented on #3
[code]

So that's what I have in my config.plist.

Maybe I'm using the wrong one but I grabbed the info from here: https://www.reddit.com/r/hackintosh/comments/fo9bfv/macos_10154_update/

Error: https://imgur.com/a/sD6tnhe

[2020-03-26 00:38] simplelifeeee0 commented on #3
Yea for sure, just download these https://github.com/AMD-OSX/AMD_Vanilla

Open both files,
Delete the Kernel -> Patch section from config.plist
Copy the Kernel -> Patch section from patches.plist
Paste into where old patches were in config.plist

[2020-03-26 00:49] scottdrmyers commented on #3
That worked. Thanks!!!

[2020-03-26 00:49] #3 closed, assigned to nobody

[2020-03-29 10:35] mlch911 opened #4 "iCloud issue"
I installed macOS 10.15.4 after updating Patch. Everything works but iCloud. iMessage and FaceTime works. The iCloud folder is always empty.

<sub>Sent from <a href="https://apps.apple.com/cn/app/id1314212521">PPHub</a></sub>

[2020-03-30 00:14] scottdrmyers commented on #4
Do you mean for syncing files? I just tested mine, works fine here.

Did you change your serial number and such or just using the defaults from the config.plist located here?

------------------------------------

https://github.com/corpnewt/GenSMBIOS

Simply get GenSMBIOS, generate a new SMBIOS for model "imacpro1,1" -> It will give you some serial numbers, simply replace the serials in the Platf

[2020-03-30 01:16] mlch911 commented on #4
I have changed these numbers at the beginning. And icloud still can't sync files.

[2020-04-02 19:12] willza3 opened #5 "General Discussion"
This section is open for general discussion; requests, questions, etc. When opening a new issue, please make sure to assign me to it - otherwise I may never see it!

💬 [Telegram Channel/Group Chat](https://t.me/macOSstrixB450i)

[2020-04-02 19:46] mtldevai commented on #5
Hi men, it works like a charm!!! Thank you!

But I was wondering if tehere is a way of controlling the FANS trough macintosh or I have to go directly to the BIOS setting and do it from there....

Apreciate it!

[2020-04-02 23:33] willza3 commented on #5
I could be wrong but I don't think there's a way to control fan speeds inside of macOS with a Ryzen CPU right now... however the dev of SMCAMD has mentioned he has plans to [add fan control](https://github.com/trulyspinach/SMCAMDProcessor/issues/10#issuecomment-593704935) so definitely sometime in the future!

Cheers!

[2020-04-06 23:11] willza3 commented on #4
Still not working? I've just checked and it's working fine for me, I've just pushed a new update so try that and see if it works :)

[2020-04-07 01:30] mlch911 commented on #4
Thanks a lot. After I reinstalled macOS and change the serial number, it works.
Now I have another problem... It only boot up into Bios, and there is two boot device on the same disk. These are the same.

[2020-04-07 08:28] mtldevai commented on #5
Hi @willza3 since I updated to 10.15.4 my pc boots directly into BIOS ando from there I have to pick on the boot options the disk from which i want to boot opencore and it boots correctly but,
my boot option priorities keep getting blank, I tried to LOAD OPTIMIZED DEFAULTS and also I tried bootoption from maco os terminal and bootICE from windows... and my boot options priorities on BIOS keep goin

[2020-04-09 19:26] willza3 commented on #5
@manutaberner - I'm not really too sure if I'm honest as I've not had this issue :/ I have both Windows and macOS on seperate drives, with macOS as the main drive as OpenCore is able to boot Windows too.

- Are you running the latest BIOS version?
- Are Windows and macOS on seperate drives?

You could see if anyone on the [AMD OSX Discord](https://discord.gg/eN27J7n) is able to help with this prob

[2020-04-09 19:36] mtldevai commented on #5
As for the first question, I honestly don't know in which version I am, but definitely will check it.

Ansewring the second question, yes I have them in separate drives. Maybe is some issue with the BIOS with the installation when I updated. Thank you!!

PS: Is there anyway to change the icons of the opencanopy UI boot??

[2020-04-09 19:42] willza3 commented on #5
No problem! Let me know how you get on, this guide might be useful to you! [Multiboot baby...](https://hackintosh-multiboot.gitbook.io/hackintosh-multiboot/)

As for the OpenCanopy icons, they're stored in `EFI/OC/Resources/Image` in the `.icns` format. If you just replaced the files with your own, I don't see why it wouldn't work **_but_** I haven't tried this myself so maybe make a backup before

[2020-04-09 19:44] willza3 commented on #4
@mlch911 - Have you tried clearing out your EFI folder and replacing it with a fresh copy of mine? Also try updating your BIOS. I'm not sure what else would be causing the issue otherwise 🙁

[2020-04-10 22:30] mtldevai commented on #5
Hi willza3! Updating to the latest BIOS worked like a charm, next thing I will try to change the icons :)

Thank you for your apportations!

[2020-04-11 11:57] willza3 commented on #5
Great! Could you let me know which BIOS version you were running before updating? Just so I know which is bugged.

[2020-04-11 12:39] mtldevai commented on #5
I was using BIOS version 2801, it wasn't bugging maybe I touched something or during one of the two last updates you made I did something wrong, maybe that was the problem.

Now I am using last BIOS available version 3004. Everything works fine but I am struggling to change the opencanopy icons(i've read the docs(page 50 of opencore guide) but I am not understanding them) and I do not know how to

[2020-04-14 02:39] messenger2011 commented on #5
So the Supplemental Update is safe to update to current Patch Kernel?

[2020-04-14 02:42] mtldevai commented on #5
YESS!!! if you are already updated to 10.15.4 you can do the suplemental update, for me it worked fine

[2020-04-17 21:43] #4 closed, assigned to nobody

[2020-04-17 22:37] simplelifeeee0 opened #6 "Not an issue just a suggestion"
If you use shikigva=80 in the boot args it fixes Apple TV+ and all drm issues with this configuration

[2020-04-19 01:04] Gizmo648 opened #7 "Working Great"

[2020-04-19 01:19] Gizmo648 commented on #6
I have this args
debug=0x100 keepsyms=1 npci=0x2000 alcid=7
do I need to change it ?

[2020-04-19 01:20] simplelifeeee0 commented on #6
Just add shikigva=80 and all dark content will work upon restart

[2020-04-19 01:21] Gizmo648 commented on #5
Asus Strix B450 F
Corsair Vengance 32 = 2x16 ram
Saphire rx 570
Ryzen 5 2600
ssd PNY 120
hd Seagate 2 TB
Power Supply Corsair CX750 M
Case Corsair Carbide Spec-06

Working great. thanks man... only Apple TV shows green screen

[2020-04-19 01:22] #7 closed, assigned to nobody

[2020-04-19 01:22] simplelifeeee0 commented on #5
Just add shikigva=80 and Apple TV will be fixed

[2020-04-19 01:56] willza3 commented on #6
Thanks for letting me know, just added the boot args and it worked with Netflix and Prime Video. Are you able to test with TV+? I have a subscription but the app isn't letting me log in.

[2020-04-19 02:00] simplelifeeee0 commented on #6
Appreciate it, just wanted to put it in there, lots of people don’t know about this arg but I’ve been using it for months netflix, Amazon, and Apple TV+

[2020-04-19 02:07] #6 closed, assigned to willza3

[2020-04-19 02:30] Gizmo648 commented on #5
Thanks I will make the change.

[2020-04-19 15:00] Gizmo648 commented on #5
It works . Thanks a lot . willza3 / simplelifeeee0 .
By the way my usb wifi is TP link TL-WN823N , only download driver and works speedy.
I hope it is useful.

Next test : Same hardware but changes MB with MSI Tomahawk B450 .
I don't know if this EFI works with it.

[2020-04-19 16:26] willza3 commented on #5
That'll be interesting to see if it works on the MSI board, I'm surprised it even works on the B450F. I'm actually in the middle of looking at wireless cards for this board as I want Bluetooth etc. That USB one looks like a good alternative option though!

P.S - Did you have to make any changes for it to run on the B450F or did it work with no changes?

[2020-04-19 17:49] Gizmo648 commented on #5
Thanks . I only download the last driver from tp link page support and works very good , im surprised too , and its speedy , ( I have windows 10 on another ssd) . I didn't make any changes . Your EFI works very good . I have another b450 ( Asus Prime b450) it has different audio codec , maybe i will test it too, I hope this test be helpful. Thanks a lot , this General Discussion is a very good ide

[2020-04-19 17:54] Gizmo648 commented on #5
https://www.tp-link.com/us/support/download/tl-wn823n/v3/#Driver
My usb wifi is ver 2 but I download version 3 driver for the same item. Its mac driver for Catalina.

[2020-04-19 17:55] simplelifeeee0 commented on #5
Honestly the best option I’ve found is a pcie card, it’s called fenvi T919, it offers Wi-Fi and Bluetooth out of the box compatibility on Mac OS, no drivers or anything https://www.amazon.com/fenvi-Continuity-BCM94360CD-1750Mbps-Beamforming/dp/B07VCCZS54

[2020-04-19 18:00] Gizmo648 commented on #5
ah thanks for the recomendation. I don't use blue tooth but I will consider it. Thanks a lot. maybe I will buy it.

[2020-04-19 18:01] simplelifeeee0 commented on #5
For sure, biggest part of it that I like is handoff and airdrop, can’t get that without it tbh

[2020-04-19 18:03] Gizmo648 commented on #5
yes its a good idea and recommendation.

[2020-04-19 18:29] willza3 commented on #5
That Fenvi card looks great, but I've got no room for it in my case (NZXT H100) 😜

Weirdly enough, this motherboard is advertised to have an Intel WiFi chip but it's actually a god-awful Realtek one. I'm going to replace mine regardless so I'll try grab one that's fully compatible with macOS.

[2020-04-19 18:30] simplelifeeee0 commented on #5
If you’re talking about no more slots yea but size it’s actually pretty small tbh but there’s nvme versions of that better suits your needs

[2020-04-19 18:38] Gizmo648 commented on #5
Thats a good point . NZXT H100. and good case.

[2020-04-22 03:03] Gizmo648 commented on #5
I try recently with Asus Prime B450M-A with the same EFI but has issues.
One is al before boot menu: OC: Setting Nvram xxxxNumber : Not found
Lags and freezes randomly .
Works with Safari but with Firefox keeps lagging.
Slow but works with this issues.
I don't know what will happen with MSI Tomahawk next week.

[2020-04-27 07:49] antech2020 opened #8 "Cannot boot usb installer with this EFI"
Hello, thank you for the files, I have B450-i strix mainboard, 2700x and I make USB stick installer using AMD OS X Vanilla Guide, then replace with your EFI, setting up BIOS as your guide except CSM enabled because otherwise it won't boot to usb and goes straight to windows.  When I tried to boot from USB installer it got  stucked at blinking cursor. Do you know how to fix that? Thanks/.

[2020-05-02 19:14] EfraimLA opened #9 "Rear Mic In Doesn't Work"
As the title says

[2020-05-02 21:13] willza3 commented on #9
Unfortunately this is because AppleALC doesn't really support line in mics on Ryzen/TR CPUs.

[VoodooHDA](https://sourceforge.net/projects/voodoohda/) will have better support for a line in mic but at the cost of poorer audio quality compared to AppleALC. I don't have a line in mic so I can't test if it works... however if you wanted to stick with AppleALC, my HyperX USB adapter works perfectly fi

[2020-05-02 22:17] willza3 commented on #8
Have you tried using [this guide](https://dortania.github.io/OpenCore-Desktop-Guide/installer-guide/) instead of the AMD OS X one?

[2020-05-03 20:49] EfraimLA commented on #9
So nothing else to try? Well some mics works, how to know?

[2020-05-05 00:59] willza3 commented on #9
You could try with a 3.5mm to USB adapter? I can't test anything as I only have a USB mic.

[2020-05-05 03:19] willza3 commented on #5
@manutaberner: Some updates about some questions you asked a while ago 🙂

If you were still wondering about this... looks like it's possible if you change `Misc -> PickerAttributes` from 1 to 9 - there's more information about different settings at the very bottom of [page 29](https://github.com/acidanthera/OpenCorePkg/blob/master/Docs/Configuration.pdf) of the configuration PDF.

With the latest

[2020-05-05 03:32] messenger2011 commented on #5
Upgraded to OpenCore 0.5.8 without issues.

[2020-05-05 03:32] willza3 commented on #9
I've had a look into this and the best/most stable option would be to buy a USB DAC/Adapter for your microphone. Personally I'm using the HyperX adapter that came with my headphones and I've had no issues using my mic in apps like Discord, Teams and Telegram.

Sadly there aern't really any other patches that have been developed for mic input for AMD, you can always try VoodooHDA however it's known

[2020-05-05 10:02] mtldevai commented on #5
THANK YOU!! It works like a charm, now I will rey tomchange the iconos, you are really kind :)

[2020-05-05 13:52] EfraimLA commented on #9
I prefer use some adapter due VoodooHDA issues and quality, thanks and hope we've a patch for it

[2020-05-05 16:33] #9 closed, assigned to willza3

[2020-05-06 11:27] mtldevai commented on #5
How can I boot into the recovery OS now? I al trying everything but seems impossible...

[2020-05-06 11:59] willza3 commented on #5
Press space on the boot picker @manutaberner

[2020-05-09 18:51] #8 closed, assigned to willza3

[2020-05-16 22:17] PhilippKath commented on #5
I am running into this issue but the fix does not work for me: https://dortania.github.io/OpenCore-Desktop-Guide/troubleshooting/troubleshooting.html#frozen-in-the-macos-installer-after-30-seconds

I had a AMDRyzenCPUPowerManagement.kext instead of NullCPUPowerManagement.kext.
What can i try?

[2020-05-17 23:28] willza3 commented on #5
Update on this: The latest version of SMCAMD has experimental fan control 😄

[2020-05-17 23:31] willza3 commented on #5
Haven’t seen this issue before... 🧐

Could you open a new issue with more detail so I can look into this further? Thanks 🙂

[2020-05-18 07:55] PhilippKath opened #10 "Black Screen after 30 Seconds into installation"
I am running into this issue but the fix does not work for me: https://dortania.github.io/OpenCore-Desktop-Guide/troubleshooting/troubleshooting.html#frozen-in-the-macos-installer-after-30-seconds

This repository is using AMDRyzenCPUPowerManagement.kext instead of NullCPUPowerManagement.kext so i tried to remove it and use DummyPowerManagement instead but it didn't work.

[2020-05-18 22:51] PhilippKath commented on #10
Specs:
* Motherboard: ASUS ROG Strix B450-
* CPU: AMD Ryzen 5 3800X
* GPU: Sapphire Nitro+ 5700 XT

[2020-05-19 05:56] tranhoanvo commented on #5
![ADB883AB-705F-4229-A829-DB377A6D3862](https://user-images.githubusercontent.com/62977595/82289793-bc05d400-99cf-11ea-899f-04d9ab1bd032.jpeg)
Curently I have this issue! I need help!! I use 0.5.8 BOOT folder ( because seem like you havent update to 0.5.8) and use fully your OC folder.
2400G w/ RX580 MSI Gaming x 8Gb

[2020-05-19 13:09] willza3 commented on #5
@tranhoanvo - From what I remember, audio stuttering issues on G CPUs can't be fixed as it's caused by the APU. I had the exact same issue when I had a 2200G.

You can always try [this possible solution...](https://github.com/AMD-OSX/AMD_Vanilla/issues/10#issuecomment-615742326) but I can't test anything myself as I don't have a G CPU anymore.

Let me know 👍

[2020-05-20 03:55] tranhoanvo commented on #5
@willza3 - Thank you. Okay so first of all it's CPU's fault, and to anyone w/ 2400G might concern I found out a way to temporarily fix this. Do a sleep to your PC for a few minutes, then wake it. Problem solved!

[2020-05-20 17:59] willza3 commented on #10
I've noticed you're using a Navi GPU, have you included `agdpmod=pikera` in your boot arguments? Also keep in mind DisplayPort can be a hit or miss as WhateverGreen needs to be adapted.

I'm not sure this issue is caused by anything power management related as:

- `NullCPUPowerManagement.kext` was replaced by `DummyPowerManagement` in newer versions of OC, it is already enabled in this configurati

[2020-05-21 01:41] conchodaus opened #11 "Some issues Boot and Keyboard, mouse..."
Hi willza3,

I would like to thank you for your efi. I have the same hardware as you. Working great. But I have 3 issues:
1.When starting Boot, the bar under the apple runs very slowly. it takes 2-3 minutes to boot up the macos screen and then it will lose the keyboard (this action only occasionally happens)
I see "00: 000 00: 000 OCB: Failed to match a default boot option" in efi log.
And I got a

[2020-05-25 04:18] conchodaus commented on #5
@willza3 Everything ok except Slow booting(1-2minutes). :( stuck at "IOUSBHostInterface" and "AppleUserUSBHostHIDDevice" :(

B450 i gaming Rog Strix. Ryzen 5 3600 :(

[2020-05-25 13:47] #10 closed, assigned to willza3

[2020-05-27 03:21] messenger2011 commented on #5
Anyone has try catalina 10.15.5?

[2020-05-27 16:54] tranhoanvo commented on #5
@willza3 - Did you experience sleep problem ?  Cannot wake after sleep at all ( cpu, psu fan still spin, keyboard + mouse disconnected and cannot wake0. Just change CPU from 2400G -> 3500 and native mac wifi card and face this issue. LOL too many things to handle. I heard that this is the known issue but why it works for me at first but now didn't ...

[2020-05-28 13:02] conchodaus commented on #5
@tranhoanvo pm tôi. máy tôi ryzen 5 3600 sleep bth. :D. Email: anhkimdonghn@yahoo.com

[2020-05-29 12:17] notOops opened #12 "CSM Problem"
I have 2 m2 nvme ssd. I want to install on the second one. But when set csm to disable, the second m2 become the external storage. So, not work. When I enable it, the new version couldn't work(even can't reinstall).Is there any solution?

[2020-05-30 20:52] willza3 commented on #11
Still having these issues? Make sure you running the latest EFI files and let me know. I haven't had a slow boot on macOS however sometimes my mouse will disconnect and I'll have to physically reconnect it...

Sorry for the late response! I'll keep this issue open for now...

[2020-05-30 21:01] willza3 commented on #12
Try [adding this SSDT](https://www.dropbox.com/s/uqhnol80uu6o6t2/SSDT-NVME.aml.zip?dl=0) to your EFI folder. (Add to your ACPI folder and update config.plist)

[2020-05-30 21:03] willza3 commented on #5
Updated through System Preferences with no issues 🙂

[2020-05-30 21:08] willza3 opened #13 "Unable to wake after sleep"
@willza3 - Did you experience sleep problem ?  Cannot wake after sleep at all ( cpu, psu fan still spin, keyboard + mouse disconnected and cannot wake0. Just change CPU from 2400G -> 3500 and native mac wifi card and face this issue. LOL too many things to handle. I heard that this is the known issue but why it works for me at first but now didn't ...

_Originally posted by @tranhoanvo in https://

[2020-05-30 21:09] willza3 commented on #13
@tranhoanvo Could you test sleep without any USB devices connected?

[2020-05-31 03:55] conchodaus commented on #11
I have 4 issues.
1. Slow booting: i plug my keyboard usb to hub 3.0. It solved.
2. Mouse lagging: Disable kext nvmefix, AMDCPU, AMDSMC...it solves
3. My mouse will disconnect and I'll have to physically reconnect it...(like you).
4. Sleep not working... can't wake after sleep.

I patched full dsdt, remapping usb port but (3), (4), not solve...
i running your efi and patch dsdt.

[2020-05-31 17:08] conchodaus commented on #13
I have issue like him. I tested sleep without usb devices connected... it sleep ok and wake via power button. But can’t wake when usb devices connected

[2020-06-01 02:11] tranhoanvo commented on #13
Just have time to do it. I have 2 things:
- Yes, It does sleep without any USB connected (Properly).
- BUT it instantly wakes up after the PC goes to sleep. ( Like when PC goes sleep fully 1 second later the PC auto wakes up). Oh, and it's not wake up by any Bluetooth or Wifi things ( I have turned them off).

[2020-06-01 05:53] notOops commented on #12
Sorry it seems not to be the csm caused. I recorded and see that "setting nvram ... rtc-balcklist not found", what‘s the problem? I am also the b450i 2600x, only the gpu 5700xt(it is no driver required)

[2020-06-01 14:35] tranhoanvo commented on #13
![image](https://user-images.githubusercontent.com/62977595/83419493-598ce900-a44f-11ea-9b19-c723cfb6aa3b.png)
This is my log, the log "powerd process is started" is normal logs, produced when I sleep only the display.
From 06/01, we have:
- **"Entering Sleep state due to 'Idle Sleep': Using AC (Charge:0%) 25 secs"** is sleep without any USB connected, and it has slept properly.
- Right after that

[2020-06-01 16:57] tranhoanvo commented on #13
![image](https://user-images.githubusercontent.com/62977595/83433221-7df2c080-a463-11ea-80f3-582ead56c4ca.png)
Log when Sleep with few USB connected, then stuck and have to hard reset by power button.

[2020-06-01 18:30] 158212892 opened #14 "OC0.5.9 is outed,can update to the New Edition？"

[2020-06-01 18:33] scottdrmyers commented on #14
It will be updated, but it's also very easy for you to update it yourself by copying data out of the config file and simply replacing the files in 0.5.9 or any newer version going forward.

The documentation is located here: https://github.com/dortania

[2020-06-01 18:57] willza3 commented on #14
Yeah, I'll be updating the configuration to 0.5.9 at some point today or tomorrow (depending when I have free time) I'll close this issue when I've done it.

[2020-06-02 03:04] timocapa commented on #14
happy pride month

[2020-06-02 06:23] 158212892 commented on #14
OK，I'll wait😂😂

[2020-06-02 19:49] EfraimLA opened #15 "Display lagging"
When i see movies or videos of high consume resources (HDR or 4k) display goes lagging, and interacting with machine is not just smooth... Could be a problem with GPU? I've a ASRock RX580 8GB OC

This doesn't happen with windows nor Linux, could give some support please?

[2020-06-02 21:32] #14 closed, assigned to willza3

[2020-06-02 21:42] willza3 commented on #13
I'm not even sure sleep ever worked for me in the first place thinking about it... I've tested with both OpenCore 0.5.8 & 0.5.9, 2017 iMac Pro and 2019 Mac Pro SMBIOS and even made a USB map but unfortunately I'm having the same issue now. Like you said, this is a very common issue with AMD and likely will never be fixed 🙃

For the time being, set your Energy Saver settings to the following to avo

[2020-06-02 21:43] willza3 commented on #12
Does the issue still happen with OpenCore 0.5.9?

[2020-06-02 21:48] willza3 commented on #15
I'm not sure what would be causing this as the RX580 is natively supported on macOS. Does the issue still persist on OpenCore 0.5.9?

[2020-06-02 21:50] willza3 commented on #11
#3 shouldn't be a permanent disconnect now just a few seconds with OpenCore 0.5.9 (at least for me)

Closing issue as other issues are now resolved 👍

[2020-06-02 21:50] #11 closed, assigned to willza3

[2020-06-03 02:13] EfraimLA commented on #15
Yes, it's not much but compared with a MBP there's difference, btw i've a ryzen 7 2700X

[2020-06-03 02:43] blacksea1206 commented on #5
Hi willza3
I really appreciate your effort and fast updates.
I just wanted to say THANK YOU!

[2020-06-03 07:24] tranhoanvo commented on #15
I'm not sure if it's count on 1080p display but I'm using ryzen 3500 w/ RX580 8G Gaming X, HDR and 4K on my 1080p display are smooth, no problems.

[2020-06-03 07:28] tranhoanvo commented on #13
I used to map port before :D Then I realized that it does nothing to help fix sleep, and I have no more than 15 ports. So I used your solution and seem likes it is the only solution for sleep right now.

But I want to know if it's OC fault and later releases they might fix it?

[2020-06-03 20:18] EfraimLA opened #16 "Audio devices not working"
After updating to 0.5.9 audio isn't working, also im using Mac7,1 as SMBIOS

![20200603_150715](https://user-images.githubusercontent.com/46459026/83684783-3b3cff80-a5ad-11ea-92f0-2dbec8d24e5a.jpg)

[2020-06-03 23:46] willza3 commented on #16
Thanks for letting me know 😅  Latest commit should fix this now, is it working on your end?

[2020-06-04 03:05] willza3 commented on #15
Does this happen when you use the `iMacPro1,1` SMBIOS?

From my personal testing, `iMacPro1,1` actually had the best Geekbench scores compared to other SMBIOS (including `MacPro7,1`) but YMMV.

[2020-06-04 03:07] EfraimLA commented on #15
It's the same I also did benchmark with iMacPro1,1 y MacPro7,1 but got better score with 7,1 so I used it but I'm thinking switch to iMacPro1,1 due memory RAM error notification

EDIT: if I want to change smbios must i reinstall macOS?

[2020-06-05 00:21] blacksea1206 opened #17 "no internet after sleep wake"
I had no issue before the 10.15.5 and 0.5.9,
but I can't get any internet connection after the sleep-wake.
I'm using the same motherboard b450-i Strix and the onboard LAN.
Does anybody have any info on this issue?

[2020-06-05 03:39] #16 closed, assigned to nobody

[2020-06-06 02:01] willza3 commented on #15
No, you can switch it on the fly, but I would sign out of iCloud first!

[2020-06-06 02:02] willza3 commented on #17
Just out of interest, what CPU are you using? Sleep doesn't work for me at all so not sure I can really help with fixing this 😓

[2020-06-06 12:09] conchodaus commented on #13
I think we should buy usb hub 2.0 9 pin for keyboard and mouse usb. I orderd it and testing...

[2020-06-07 05:07] blacksea1206 commented on #17
https://wccftech.com/fix-internet-not-working-after-waking-mac/

Hi guys,
For me the link above solved the problem. Now it works great :)

I was using 3600X, and was working great.
And working great as well now :)

[2020-06-07 05:07] #17 closed, assigned to nobody

[2020-06-10 14:38] conchodaus commented on #13
I solved issue "wake after sleep". this is stuck with usb 3.0... our mainboard don't have usb 2.0 port. We must buy usb hub 2.0  9 pin (mainboard). Then keyboard and mouse usb plug in usb 2.0 port. Delete unnecessary usb ports and export usbport.kext via hackintool. Copy usbport.kext to efi opencore. Oc snapshot. Done. Sleep woking well.
![Screen Shot 2020-06-10 at 21 15 08](https://user-images.gi

[2020-06-12 01:02] ThatStella7922 commented on #5
Hello all! i was thinking of buying an Asus strix b450-f to upgrade my PC and was wondering if this EFI is compatible with it? The boards are similar enough right? And if not, I’ve done some intel and AMD hackintoshes before so i presume i could troubleshoot too

[2020-06-12 03:40] conchodaus commented on #5
Yes, it can use for b450-f...

[2020-06-12 19:29] ThatStella7922 commented on #5
Epic, thanks

[2020-06-13 17:34] Qerope opened #18 "Audio not working"
This new version has some problem with Audio, B450-f no audio input or output. BTW thank you so much for this build

[2020-06-14 14:41] willza3 commented on #18
Do you have the latest patch to the config plist, I messed up audio with the 0.5.9 update.
I don't have a B450-F unfortunately so can't test anything on my end 😶

[Link](https://github.com/willza3/macOS-strix-B450i/commit/e721a9f6af86bdd64d303e6ed1502808ba79ee95)

[2020-06-14 16:40] conchodaus commented on #18
Case1:You must find true pciroot for audio then edit DevicePropertise in config.plist.( open in hackintool and tap to tab pcie. Find pci)
Case 2: add alcid=7 to boot arg

[2020-06-14 17:00] Qerope commented on #18
Yes, I’m using the latest update and checked if audio patch is applied correctly. I’ve been using an older version with OC 0.5.8 and audio was nice.
I’m using 3600x.

[2020-06-14 17:23] Qerope commented on #18
It's working now! Used hackintool and changed PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x3) to PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x4). Thanks for help

[2020-06-14 19:42] #18 closed, assigned to nobody

[2020-06-23 03:43] willza3 commented on #5
Heads up - Big Sur doesn't boot.

[2020-06-23 17:09] EfraimLA commented on #5
@willza3 will u work on Big Sur to fix boot? Would be nice could install and use it

[2020-06-23 21:06] willza3 commented on #5
I'm not a maintainer for OpenCore or AMD Vanilla, so while it won't be _me specifically_ developing those fixes (props to the OC & AMDOSX team), I will be implementing those fixes into this configuration whenever they become available. To seperate Catalina and Big Sur (until it's official release), I've added a [new branch](https://github.com/willza3/macOS-strix-B450i/tree/Big-Sur) that will add t

[2020-06-23 22:04] ghost commented on #5
Thanks for this. I have the same itx motherboard and was able to use this to install Mac OSX on my system. However you recommend to enable secure boot (Windows UEFI) on the main page, but I was unable to boot to the usb install or OSX partition until I set secure boot to Other.

[2020-06-23 23:39] willza3 commented on #5
Hmm strange... I can boot into the installer with it enabled. Will update the readme anyway, thanks for letting me know 🙏

[2020-06-25 22:20] carlosxfigueroa commented on #13
if i have something connected to the internal usb 2.0 port can i leave my keyboard and mouse plugged in to the usb 3.0 and have sleep work still?

[2020-06-28 17:16] carlosxfigueroa opened #19 "Installer fails at 3 minute mark"
Hello all! My installer keeps failing at the 3 minute mark using the GitHub efi I can pull the installer log if that will help

[2020-06-30 01:05] #15 closed, assigned to willza3

[2020-06-30 01:05] #12 closed, assigned to willza3

[2020-06-30 01:08] willza3 commented on #19
In the BIOS, set "OS Type" to "Other" as this has worked for other people. Let me know :)

[2020-06-30 06:11] mlch911 commented on #5
1. I put all your newest EFI folder into my EFI partition, and only changed the SN number.(also changed the DeviceProperties to make the Audio work). But the 「OpenCore Configurator」 and 「Hackintool」both warning me that the opencore is 0.5.7.
2. There is a new BIOS outed on [ASUS's website](https://www.asus.com/Motherboards/ROG-STRIX-B450-I-GAMING/HelpDesk_Download/).
3. Maybe you should create a c

[2020-06-30 06:50] carlosxfigueroa commented on #19
Turns out it was my msi gpu sorry

[2020-06-30 13:18] #19 closed, assigned to nobody

[2020-06-30 18:25] carlosxfigueroa commented on #13
I bought the same thing as above and it works, except i didn’t do a usbkext left it as is without one and it slept all night

[2020-07-01 04:07] zixiiu commented on #13
Is you CPU fan still on and the system is generally still running when slept?

[2020-07-03 21:46] carlosxfigueroa commented on #13
@conchodaus any chance i can get your usb port.kext? I want to check if I’m doing this right.
@willza3 wouldnt it be better to include USB ports prepatched? Since we all have the same board?

[2020-07-04 11:25] conchodaus commented on #13
This is my usbport kext
https://www.dropbox.com/s/fp0oxpf166i00hi/USBPorts.kext.zip?dl=0

[2020-07-04 12:11] willza3 commented on #5
Not sure why that's happening, it shouldn't cause any issues though, probably just a bug.

Thanks for letting me know 🙂 I'm hoping it won't cause any issues 🤞

You're right, I did say I'd create one but never did 🥴 If you open the channel there should be a new "Discuss" tab, which will take you to the new group chat.

[2020-07-05 02:11] carlosxfigueroa commented on #5
hey im on the newest bios and so far no issue at all, also would you like to look at my efi? its a modded version of yours with full sleep and hibernation (this is using the usb 2.0 port thing from the sleep discussion which I can send a link for so others can buy it and have working sleep)

[2020-07-05 10:59] gungun974 opened #20 "Audio issue on similar motherboard"
Hello.
I bought a ROG Strix X570-E Gaming and I managed to install MacOS.
However, only my sound card does not work and I don't know how i can make it work.
I already read the opencore guide but I don't understand what i should do.
But I saw your Asus Strix B450-i has the same sound card (SupremeFX S1220A) than me but also that you had managed to make it work.
So my question is how you got this an

[2020-07-05 16:30] willza3 commented on #20
Try using a different codec, S1220A supports 1, 2, 3, 5, 7, 11, 20 and 21. You might need to delete the audio PciRoot in Device Properties ➡️ Add and use AppleALC bootarg instead.

I can't help you otherwise because I don't own that motherboard.

[2020-07-05 16:49] willza3 commented on #13
I don’t include a kext because everyone’s setup is different. For example, I patch for the ports on my case and monitor as well as the board itself

[2020-07-06 01:34] conchodaus commented on #13
@carlosxfigueroa
Willza3's advice is right. you should patch for yourself. You can contact to me if you meet stuck. ;) My emaiL: anhkimdonghn@yahoo.com

[2020-07-06 01:42] conchodaus commented on #20
Every Mainboard Audio PCIroot is different. You must find true PCIroot and edit theme in "Device Propertise" in config.plist (Use apps "Hackintool" to find this at tab "PCIE") Or add bootflag: alcid=x   (x can be 1.2.3.5.7.11.20.21). test every number.

[2020-07-06 04:29] carlosxfigueroa commented on #20
you can use this to find your pcie audio device also https://github.com/acidanthera/gfxutil/releases
and follow this guide https://dortania.github.io/OpenCore-Desktop-Guide/post-install/audio.html

[2020-07-09 12:57] gungun974 commented on #20
Okay i found something.
When i create my Opencore config, i had need to disable one of my graphics card (NVIDIA) with this guide
https://dortania.github.io/OpenCore-Desktop-Guide/extras/spoof.html
But when i execute what willza3 say to me. I delete unintentionally my patch for graphics card. And something verry strange, my Audio card works, I don't know why disable a graphiics card break AppleALC

[2020-07-10 20:33] carlosxfigueroa commented on #5
@willza3 hey just wanted to let you know i got Big Sur installed and booted with my efi, posted it on your telegram discuss channel

[2020-07-23 14:55] marekk1717 opened #21 "Move USB boot to internal disk"
I'm looking for a procedure to move all required boot components from USBdisk to internal drive. How it can be done?

[2020-07-24 12:09] #21 closed, assigned to nobody

[2020-07-24 12:11] marekk1717 commented on #5
I'm looking for a procedure to move all required boot components from USB disk to internal drive. How it can be done?

[2020-07-24 12:40] marekk1717 commented on #5
Can we use this config with Ryzen 7 3700x?

[2020-07-24 17:32] willza3 commented on #5
Use MountEFI to mount your EFI (duh) and then transfer the files from the USB to your internal drive.

[2020-07-31 06:40] messenger2011 opened #22 "Freeze with R9 Nano"
So I just switch to R9 Nano, boot seem fine, nothing wrong, but when it get pass thourgh login screen, then come to freeze. I heard R9 Nano work fine with Catalina, maybe a fresh install will fixit, will try at the weekend.

Specs: Ryzen 5 2600 + 32Gb DDR4 + R9 Nano 4Gb.

[2020-07-31 12:09] tiiime commented on #5
yes

[2020-08-03 09:20] messenger2011 commented on #22
Fresh install not fixed the problem. When I try to view video on youtube with Safari, freeze return.

[2020-08-06 11:17] messenger2011 commented on #22
Fixed by adding 0x73001002 to AMDRaedonX4000.kext/Contents/Info.plist

[2020-08-06 11:17] #22 closed, assigned to nobody

[2020-08-18 09:23] marekk1717 commented on #5
Have you tried to install and run HWMonitor on this motherboard ?

[2020-08-30 01:23] adamyanna opened #24 "ROG STRIX X470-I GAMING Audio Jacks not working"
use the same config plist file, I can only use HDMI or DP audio, Audio Jacks not working and not showing on output devices.

[2020-08-31 18:57] EfraimLA commented on #5
BigSur does boot now?

[2020-09-01 01:19] mlch911 commented on #5
You can join the Telegram group. There is another EFI file that can boot BigSur.

[2020-10-04 15:49] pouriaMaleki commented on #5
Cheers @willza3 for this repository, works nice and easy.

I just used GenSMBIOS to generate new SMBIOS, and for my RX 5700XT, I had to add `agdpmod=pikera` to `boot-args` to fix the black screen after boot. (from docs: https://dortania.github.io/OpenCore-Install-Guide/AMD/zen.html#add-4 > GPU-Specific boot-args section)

There is one thing I found weird is that **Bluetooth is working** out of the

[2020-11-17 02:13] Gizmo648 opened #25 "Green screen"
I have installed Big Sur and works fine and I feel more speed than  Catalina.
But when i play movies in Apple TV the screen turns on green . This issue had been fixit previously with Catalina. But now, with Big Sur this issue returns.

[2020-11-17 02:25] willza3 commented on #25
I think this is something I've broken and forgot to fix...

In your boot args can you add `shikigva=80` ?

(If it's already there just change the value to 80)

[2020-11-18 04:47] Gizmo648 commented on #25
I have change the value to 80 but doesn't works.

[2020-11-20 16:43] willza3 commented on #13
This issue seems to be fixed for me in Big Sur. Anyone else seeing the same?

[2020-11-20 16:45] willza3 commented on #25
What GPU do you have?

[2020-11-20 17:59] willza3 commented on #25
Looks like this is down to WhateverGreen's DRM patches not working under Big Sur. I will keep this open until a fix is available.

[2020-11-22 06:31] Gizmo648 commented on #25
Thanks a lot , by the way GPU is Saphire Pulse Radeon RX570 (working fine with Catalina).

[2020-12-27 04:51] swy680614 opened #26 "BCM94352z issue"
Hi
First, Thank you for your efi.
Based on your efi.
I choose the same motherboard as you.
I used BCM94352z for my wifi/bt but not works.
May I know which wifi/bt card you used?
Thank you again.

[2020-12-29 04:08] Gizmo648 commented on #25
Finally, I ve return to my old and stable Catalina. I hope new EFI will works fine. My issues was green screen on Apple TV and the usb wireless won't work, only ethernet . With Catalina works fine. Regards.

[2020-12-29 04:08] Gizmo648 opened #27 "Finally, I ve return to my old and stable Catalina. I hope new EFI will works fine. My issues was green screen on Apple TV and the usb wireless won't work, only ethernet . With Catalina works fine. Regards."
Finally, I ve return to my old and stable Catalina. I hope new EFI will works fine. My issues was green screen on Apple TV and the usb wireless won't work, only ethernet . With Catalina works fine. Regards.

_Originally posted by @Gizmo648 in https://github.com/willza3/macOS-strix-B450i/issues/25#issuecomment-751939256_

[2021-01-16 15:34] willza3 commented on #26
I haven't replaced my card at the moment but this is something I will do in future, if you have Telegram there are a lot of helpful people in there which may be able to help you out 👍

[2021-02-15 01:09] derly249 commented on #5
Hello everyone, I had Catalina installed with efi-willza3 but updating bios of b450-i asus now shows error:

Err (0xE), locHB 71B4903C-14ec -.....

someone pass this some way to correct it .. checking
https://forum.amd-osx.com/index.php?threads/asus-bios-upgrade-stuck-eb-log-exitbs-start.546/

RebuildAppleMemoryMap: true
SetupVirtualMap: false
SyncRuntimePermissions: true

AND IT BOOTED!
I think g

[2021-02-15 20:11] derly249 commented on #5
SOLVED ASUS B450-I BIOS 4204 with catalina

-v debug=0x100 keepsyms=1 npci=0x2000 shikigva=128 agdpmod=pikera
SetupVirtualMap:false
RebuildAppleMemoryMap:true
SyncRuntimePermissions:true
JumpstartHotPlug:true
re-sizebar off

[2021-02-25 03:55] willza3 commented on #27
🥳  You'll be pleased to know this is finally fixed. Let me know if the latest EFI solves this issue for you.

[2021-02-25 03:55] #26 closed, assigned to nobody

[2021-02-25 03:55] #25 closed, assigned to nobody

[2021-02-25 04:36] Gizmo648 commented on #27
Thanks a lot. Let me try again with this EFI
👍🏻☺️

[2021-03-19 05:05] Gizmo648 commented on #27
Sorry , I updated this EFI but the screen stills green.
I hope there is a solution.

[2021-03-19 15:43] willza3 commented on #27
What GPU are you using?

[2021-03-20 04:43] Gizmo648 commented on #27
Its a Saphire RX570 Pulse 8GB.
Works great on Catalina.

[2021-03-21 03:26] Gizmo648 commented on #27
I found the fix for green screen .
Works ok on Big Sur.

This is the link

https://imgur.com/a/KbMlVZd

Thanks and regards.

[2021-05-02 03:19] Gizmo648 opened #28 "Notice: Last efi and BS11.3 Working ok"
Installing Big Sur 11.3 and replace the last EFI that u update 7 days ago. And working great . Everything ok util now.  Apple TV without green screen. GOOD.

[2021-10-24 00:48] willza3 commented on #5
Have enabled the new 'Discussions' section! 👍

https://github.com/willza3/macOS-strix-B450i/discussions

[2021-11-22 15:30] derly249 opened #29 "[EB|LOG:RESET:RECOVERY] - secure-boot"
hi, asus B450i + nvidia 730  error install monterrey use EFI willza3 , coments exploration

08:777 00:056 AAPL: #[EB|RPS] 0 0 0
08:833 00:056 AAPL: #[EB.OPT.LXF|F] <"\\macOS Install Data\\Locked Files\\Boot Files\\com.apple.Boot.plist">
08:890 00:056 AAPL: #[EB.LD.LF|IN] 0 1 <"\\macOS Install Data\\Locked Files\\Boot Files\\com.apple.Boot.plist"> <"0">
08:947 00:057 AAPL: #[EB|KF] <"-no_panic_dial

[2021-11-22 16:12] willza3 commented on #29
Kepler GPUs are no longer supported starting with Monterey, best solution would be to downgrade to Big Sur for the meantime

[2021-11-22 16:22] #28 closed, assigned to nobody